@import "tailwindcss";

button {
  cursor: pointer;
}

#root {
  height: 100vh;
}

.input {
  @apply bg-[#D9D9D9] border-none rounded-md p-2;
}

.wrapper {
  @apply flex flex-col gap-7 w-full p-[9%] pt-[6%];
}

.selected {
  background-color: #c8c0c0;
}
